* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    cursor: none;
    /* Hide default cursor globally */
}

a,
button {
    cursor: none;
    /* Ensure interactive elements don't show pointer */
}

html {
    scroll-behavior: smooth;
}

body {
    background: #0f0f0f;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    padding: 80px 10%;
}